<div class="row m-10">
  <div class="col-md-3">
   <app-dt-shop-filter (selectedcategory)="selectedcategory($event)" (priceRange)="priceRange($event)"></app-dt-shop-filter>
  </div>

  <div class="col-md-9">
    <div class="container">
      <main class="grid" *ngIf="filteredList.length!==0">
        <article *ngFor="let item of filteredList" (click)="productDetail(item)">
          <img [src]=item.image alt="item.name">
          <div class="text">
            <h5>{{item.title}}</h5>
            <div class="category">
              <div>{{item.category | titlecase}}</div>
              <div>{{item.price |currency}}</div>
            </div>

            <div class="cart">
              <div><i class="fa fa-cart-plus"></i></div>
            </div>
          </div>
          </article>
      </main>
      <div *ngIf="loader===false && filteredList.length===0">
         <p class="no-result">No matching result found...</p>
      </div>
    </div>
  </div>

</div>
<div class="spinner" *ngIf="loader==true">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>



