
body {
  padding: 40px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  width: fit-content;
  height: 250px;
  max-width: 100%;
  max-height: 100%;
}

.grid .text {
  padding: 20px;
}
.category{
  display: flex;
  justify-content: space-between;
}

.cart{
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

.m-10{
  margin: 10px;
}

.no-result{
    padding: 30px;
    color: yellowgreen;
    font-size: 25px;
}

.spinner{
  font-size: 25px;
  text-align: center;
}
